@import "./utils/variables";
@import "./base/fonts";
@import "./base/base";
@import "./layout/mixins";
@import "./components/container";
@import "./components/button";
@import "./components/logo";
@import "./components/header";
@import "./components/contacts";
@import "./components/section-organization";
@import "./components/section-work";
@import "./components/section-team";
@import "./components/section-clients";
@import "./components/section-order";
@import "./components/sectio-title";
@import "./components/organization-list.scss";
@import "./components/work-list";
@import "./components/team-list";
@import "./components/soc-list";
@import "./components/client-list";
@import "./components/footer";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/form";
@import "./components/check-label";
@import "./components/portfolio-title-hidden";
@import "./components/section-portfolio";
@import "./components/portfolio-filters";
@import "./components/portfolio-cards";





