
.check-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
    font-size: 14px;
    line-height: 1.7;
    color: $secondary-text-color;
    cursor: pointer;
    @media (max-width: 1199px) {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    }

&__link {
    color: $accent-color;
}

&__input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
&__input {
    @include visually-hidden(); 
}
&__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid $primary-text-color;
    border-radius: 3px;
}

&__mark {
    color: $third-text-color;
}

&__mark {
    fill: currentColor;
}

&__input:checked + &__icon {
    background-color: $accent-color;
    border: none;
    transition: 250ms $trannsition-function;
}
}
