.client-list {
    display: flex;
    gap: 30px;

    @media (max-width: 767px) {
  flex-wrap: wrap;
  gap: 30px;
    }
@media (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    gap: 30px;
}
& {
    @include list();
}
&__item {
  flex-basis: calc((100% - 150px) / 6);
}
&__item {
    @media (max-width: 767px) {
    flex-basis: calc((100% - 30px) / 2);
    }
}
&__item {
@media (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 3 );
}
}

&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: $trannsition-function;
    @media (max-width: 767px) {
        width: 210px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        width: 226px;
    }

&:hover,
&:focus {
    border-color: $accent-color;
     color: $accent-color;
}

}
&__icon {
    fill: currentColor;
}

}