.client-list {
    display: flex;
    gap: 30px;

& {
    @include list();
}
&__item {
    flex-basis: calc((100% - 150px) / 6);
}

&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: $trannsition-function;

&:hover,
&:focus {
    border-color: $accent-color;
     color: $accent-color;
}
}
&__icon {
    fill: currentColor;
}
}
