.contact {
    display: none;
    align-items: flex-start;
    justify-content: center;
    @media ( min-width: 768px) and (max-width: 1199px) {
        padding-top: 21px;
        padding-bottom: 21px;
        gap: 10px;
    }

& {
    @include list();
}

&__item +.contact__item {
 @media (min-width: 1200px) {
    margin-left: 50px;}


}
&__link {
    @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: $secondary-text-color;
    fill: $secondary-text-color;
    transform: scale(1);
    transition-duration: 250ms;
    transition-timing-function: $trannsition-function;
    &:hover,
    &:focus {
            color: $accent-color;
            transform: scale(1.1);
        } }
@media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 8px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $secondary-text-color;
    fill: $secondary-text-color;
    transform: scale(1);
    transition-duration: 250ms;
    transition-timing-function: $trannsition-function;
    &:hover,
    &:focus {
    color: $accent-color;
     transform: scale(1.1);
        }
}
}

&__icon {
    fill: currentColor;
}
@media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    .icon-mail {
            width: 14px;
            height: 10px;
        }
    
        .icon-phone {
            width: 10px;
            height: 14px;
        }
   
}
 @media (min-width: 1200px) {
     display: flex;
 }
 .icon-mail {
   width: 16px; 
   height: 12px; }
   .icon-phone  { 
    width: 12px;
    height: 16px;
}  
 
}