.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $primary-bc-color;


&__social {
    display: flex;
    align-items: baseline;
}

&__adress {
    margin-right: 94px;
}

&__logo {
    color: $third-text-color;
}
&__adress-list {
    @include list();
}
&__text {
    margin-top: 20px;
    margin-bottom: 9px;
    color: $third-text-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

&__mail {
    display: inline-block;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 250ms;
    transition-timing-function: $trannsition-function;
    
&:hover,
&:focus {
    color: $accent-color;
}
}

&__tel {
    display: inline-block;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 250ms;
    transition-timing-function: $trannsition-function;
  
&:hover,
&:focus {
color: $accent-color;
}
}
&__networks-text {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
    color: $third-text-color;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }
&__soc-list__link {
    background-color: rgba(255, 255, 255, 0.1);
    color: $third-text-color;
}
 &__form {
     margin-left: 93px;
 }

&__form-text {
    margin-top: 0;
     margin-bottom: 20px;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     font-style: normal;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: $third-text-color;
    
 }

 &__field {
     display: flex;
 }

 &__input {
     width: 358px;
     height: 50px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     background-color: $primary-bc-color;
     outline: none;
   
&::placeholder {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
    background-color: $primary-bc-color;
    
 }
 }
&__button {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 12px;
     gap: 12px;
 }
}