.form {
    padding-left: 40px;
    padding-right: 40px;


&__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

&__input {
    padding: 12px 12px 12px 29px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
}

&__sign {
    position: relative;
}

&__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    fill: currentColor;
    transition: 250ms $trannsition-function;
}

&__label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: $secondary-text-color;
}

&__input {
    outline: none;
    transition: 250ms $trannsition-function;
}

&__input:focus {
    border-color: $accent-color;
}

&__input:focus+.form__icon {
    color: $accent-color;
}

&__comment {
    display: flex;
    flex-direction: column;
}

&__textarea {
    padding: 16px 12px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: 250ms $trannsition-function;
  
    
    &:focus {
     border-color: $accent-color;
 }
    
 &::placeholder {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
}
}