.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    color: #000;
  

&__span {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    color: $accent-color;
}
}