  .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100vw - 30px);
          padding-left: 10px;
            padding-right: 10px;
       padding-top: 40px;
      z-index: 1;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      transform: scale(1) translate(-50%, -50%);
      transition: transform 250ms $trannsition-function;
  
      @media screen and (min-width: 480px) {
          width: 450px;
          padding: 40px;
          height: 609px;
        }
      @media  (min-width: 1200px) {
      width: 528px;
      height: 581px;
      }
  

  .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0.5);
  }

 &__button1 {
      display: flex;
      align-items: center;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      background: $fourth-bc-color;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 6px;
      border-radius: 50%;
      cursor: pointer;
  }

  &__text {
      
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      color: $primary-text-color;
      @media (max-width: 1199px) {
      width: 100%;
      max-width: 370px;
     margin-left: auto;
     margin-right: auto;
      }
  }

 &__icon {
      transition: 250ms $trannsition-function;

&:hover {
    fill: $accent-color;
 }
  }
 
  &__send {
    display: flex;
    justify-content: center;
  }
  &__button2 {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}