.organization-list {
  display: block;
 
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
  }
 @media (min-width: 1200px) {
display: flex;
}

  & {
    @include list();
  }


&__item {
  @media (min-width: 768px) and (max-width: 1199px) {
  flex-basis: calc((100% - 30px) / 2);
  }
    @media (min-width: 1200px) {
  &:not(:last-child) {
    margin-right: 30px;
}
}
}
 &__svg {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: $third-bc-color;
      @media (min-width: 768px) and (max-width: 1199px) {
        width: 100%;
      }
@media (min-width: 1200px) {
    width: 270px;
  
}
}

&__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  @media (max-width: 767px) {
   text-align: center;
  }
}

&__text {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    color: $secondary-text-color;
    
  }
}

