.organization-list {
  display: block;
 
 @media (min-width: 768px) {
display: flex;
}

  & {
    @include list();
  }

&__item:not(:last-child) {
    margin-right: 30px;

    @media (max-width: 767px) {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
}

 &__svg {
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: $third-bc-color;
@media (min-width: 1200px) {
    width: 270px;
    height: 120px;
}
}

&__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

&__text {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    color: $secondary-text-color;
    
  }
}

