 .cards {
     margin-top: 0;
     margin-bottom: 0;

     & {
        @include list();
     }

 & {
     display: flex;
     flex-wrap: wrap;
 }

 &__item {
     width: 370px;
     margin-right: 30px;
     margin-bottom: 30px;
    
 &:nth-child(3n) {
     margin-right: 0;
}
    
&:nth-last-child(-n+3) {
     margin-bottom: 0;
}
 }

 &__link {
     display: block;
     text-decoration: none;

   &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
&:hover .cards__overlay,
&:focus .cards__overlay {
     opacity: 1;
     transform: translateY(0);
 }
 }

&__thumb {
     position: relative;
     overflow: hidden;
 }

&__overlay {
     position: absolute;
     width: 370px;
     height: 294px;
     top: 0;
     left: 0;
     background: rgba(33, 150, 243, 0.9);
     transition-property: transform;
     transition-duration: 250ms;
     transform: translateY(101%);
     transition: transform 250ms $trannsition-function, opacity 250ms $trannsition-function;
 }

 &__label {
     padding: 63px 24px;
     margin: 0;
     font-size: 18px;
     line-height: 1.5;
     color: $third-text-color;
 }

 &__paddings {
     padding: 20px 24px;
     border-right: 1px solid #EEEEEE;
     border-bottom: 1px solid #EEEEEE;
     border-left: 1px solid #EEEEEE;
 }

 &__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-text-color;
   
 }

&__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.9;
    color: $secondary-text-color;
    
 }
  }