.portfolio-filters {
    display: flex;
    justify-content: center;

    & {
        @include list();
    }

.portfolio-filters {
    font-family: inherit;
}

&__item:not(:last-child) {
    margin-right: 8px;
}

&__button {
    padding: 6px 22px;
    min-width: 73px;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    border-radius: 4px;
    border-style: none;
    border: 1px solid transparent;
    color: $primary-text-color;
    background-color: $third-bc-color;
    transform: scale(1);
    transition-duration: 250ms;
    transition-timing-function: $trannsition-function;
    cursor: pointer;

    &:hover,
    &:focus {
     color: $third-text-color;
     background-color: $accent-color;
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     border-radius: 4px;
     transform: scale(1.1);
    }
    }
&__button {
    margin-top: 0;
    margin-bottom: 50px;
}
}