.section-order {
    background-color: $primary-bc-color;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/work-mobile-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)), url(../images/work-mobile-img@2x.jpg);
        }
        
 @media screen and (min-width: 768px) and (max-width: 1199px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)), url(../images/work-tablet-img.jpg);
          width: 768px;
          max-width: none;
            
             
 @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/work-tablet-img@2x.jpg);
            }
}
@media (min-width: 1200px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/work-Img.jpg);
    max-width: 1600px;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/work-Img@2x.jpg);
      }
}

&__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $third-text-color;

     @media (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      width: 100%;
      max-width: 360px;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
     }
    //  @media (min-width: 768px) and (max-width: 1199px) {
    
    //  }
   }
&__button {
    width: 216px;
     @media (max-width: 767px) {
        width: 200;
     }
    }
}