.section-order {
    background-color: $primary-bc-color;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/work-Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
 

@media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../../images/work-Img@2x.jpg);
       }

    @media  screen and (max-width: 767px) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),url(../../images/work-mobile-\ img.jpg);
       width: 768px;
       height: 400px;
  
       
      
        
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)), url(../../images/work-mobile-\ img@2x.jpg);
        }
        }
        
        @media screen and (min-width: 768px) and (max-widt: 1199px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)), url(../../images/work-tablet-img.jpg);
             width: 768px;
             height: 400px;

            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)), url(../../images/work-tablet-img@2x.jpg);
            }
}
&__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $third-text-color;
   }
&__button {
    width: 216px;
    }
}