.soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    

& {
    @include list();
}
&__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: $trannsition-function;
    
   &:hover,
   &:focus {
            background-color: $accent-color;
            color: #FFFFFF;
        }
}

&__icon {
    fill: currentColor;
}


}