
.team-list {
     display: block;
     margin-top: 0;
     margin-bottom: 0;

@media (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
     }
@media (min-width: 768px) {
        display: flex;
     }

& {
    @include list();
}
&__item  {
     background-color: $fourth-bc-color;
}
&__item {
@media (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px) /2 );
}
}
 &__item:not(:last-child) {
    @media (min-width:1200px) {
        margin-right: 30px;
    }
    @media (max-width: 767px) {
     margin-right: 30px; }
     @media (max-width: 767px) {
        margin-bottom: 30px;
     }
 }
&__employees {
     text-align: center;
     padding-top: 30px;
     padding-bottom: 30px;
     border-radius: 0px 0px 4px 4px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     @media (max-width: 767px) {
     padding-top: 30px;
     padding-bottom: 24px;
     }
 }

&__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $primary-text-color;
}

 &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;
    color: $secondary-text-color;
}
  }
